<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-kaaryaa-dctoken" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>DcToken</name>
    <js-module name="DcToken" src="www/DcToken.js">
        <clobbers target="DcToken" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="DcToken">
                <param name="ios-package" value="DcToken" />
            </feature>
        </config-file>
        <source-file src="src/ios/DcToken.swift" />
    </platform>
</plugin>